.venv/
.DS_Store
__pycache__/
*.pyc

data/*
models/*
reports/*

!data/.gitkeep
!data/raw/.gitkeep
!data/raw/kaggle/.gitkeep
!data/raw/domain/.gitkeep
!data/raw/nsw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep
!reports/.gitkeep
!reports/figures/.gitkeep
