.venv/
.DS_Store
**/.DS_Store
._DS_Store
__pycache__/
*.pyc

data/*
!data/.gitkeep
!data/raw/
!data/raw/.gitkeep
!data/raw/kaggle/
!data/raw/kaggle/.gitkeep
!data/raw/domain/
!data/raw/domain/.gitkeep
!data/raw/nsw/
!data/raw/nsw/.gitkeep
!data/interim/
!data/interim/.gitkeep
!data/processed/
!data/processed/.gitkeep

models/*
!models/
!models/.gitkeep

reports/*
!reports/
!reports/.gitkeep
!reports/figures/
!reports/figures/.gitkeep
